include pyproject.toml
exclude metalmaps/format_hex.sh
exclude scripts/data/generate_plots.py
exclude scripts/data/kelvin-helmholtz.hdf5  
exclude scripts/data/mass_plots_eagle25.hdf5  
exclude scripts/data/NGC7496.hdf5
